@import "reset.css";
@import "https://fonts.googleapis.com/css2?family=Open+Sans&display=swap";

body {
  background-color: black;
}
.column {
  height: 100vh;
  width: 1px;
  background-color: white;
}
.row {
  height: 1px;
  width: 100%;
  background-color: white;
}
span {
  color: white;
}
